* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:black
}
@media (min-width: 992px) {
    #s1 {
        width:30%; float:left;
    }
    #s2 {
        width:30%; float:left;
    }
    #s3 {
        width:30%; float: left;
    }
}
@media  (min-width: 768px) and (max-width:991px) {
    #s1 {
        width:45%; float:left;
    }
    #s2 {
        width:45%; float:left;
    }
    #s3 {
        width:100%; float:left;
    }
}
@media (max-width: 767px) {
    #s1 {
        width:90%; float:left;
    }
    #s2 {
        width:90%; float:left;
    }
    #s3 { 
        width:90%; float:left;
    }
}
#s1, #s2, #s3 {
    text-align: justify;
    color:black;
    background-color: cornflowerblue;
    padding:10px;
    margin: 10px;
    border: solid 3px black;
}
